.container-fluid {
    margin: 0; 
    padding: 0; 

}

.photos-col {
    display: flex;
    position: relative; 
    justify-content: center;
    align-items: center;
}

.photo-col-cover {
    position: absolute;
    width: 45vw; 
    height: 40vh; 
    background-color: #1a1a1a;
    opacity: 0.5;
}

.row {
    width: 100vw; 
    margin: 0; 
    padding: 0; 
    padding-top: 20px; 
    padding-bottom: 20px;
}

.photo-category {
    width: 45vw;
    height: 40vh; 
    margin: 0; 
    padding: 0; 
    display: flex;
    position: relative; 
    justify-content: center;
    align-items: center;
    box-shadow: 0.2vw 0.2vw 10px #1a1a1a;
    overflow: none; 
    z-index: 500;
}

.photo-link {
    text-decoration: none;
    color: white; 
    font-size: 25px; 
    transition: 0.25s ease
}

.photo-link:hover {
    color: white; 
    font-size: 27.5px; 
}


.photo-category > h1 {
    
    font-family: 'Helvetica Neue Light'; 
    font-size: inherit;
    position: relative;
}

.photos-col > img {
    position: absolute; 
    width: 45vw; 
    height: 40vh; 
    object-fit: cover;
}

@media screen and (max-width: 991px) {
    .photo-category {
        width: 80vw;
        height: 60vw; 
        margin: 0; 
        padding: 0; 
        display: flex;
        position: relative; 
        justify-content: center;
        align-items: center;
        box-shadow: 0.2vw 0.2vw 10px #1a1a1a;
        overflow: none; 
        z-index: 500;
    }

    .photo-col-cover {
        position: absolute;
        width: 80vw; 
        height: 60vw; 
        background-color: #1a1a1a;
        opacity: 0.5;
    }

    .photos-col > img {
        position: absolute; 
        width: 80vw; 
        height: 60vw; 
        object-fit: cover;
    }

    .photos-col {
        display: flex;
        position: relative; 
        justify-content: center;
        align-items: center;
        margin-bottom: 30px; 
    }

    .container-fluid {
        margin: 0;
        padding: 0; 
    }

    .photos-row {
        padding: 0; 
    }
}
